<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../styles/style.css">
    <!--<script src="../scripts/script.js"></script>-->
</head>
<body>
    <!--Inicio containers-->
    <div class="container info" id="info">
        <div class="search_servers">
            <button onclick="showContainer('search')">Buscar</button>
            <button onclick="showContainer('profile')">perfil</button>
        </div>
        <div class="servers">
            <!--<div onclick="showChanels('chanels')">
                <img src="../assets/server/server.jpg" alt="picServer">
                <span class="serverName"> Example Server</span>
            </div>-->
        </div>
        <div class="user">
           <img src="../assets/user/user.png" alt="picUsuario" onclick="showContainer('profile')">
           <span>#</span>
           <span class="userId">000</span>
           <span class="userName" id="userName">Username</span>
           <span></span>
           <a href="#" onclick="location.reload()">Login</a>
        </div>
    </div>

    <div id="chanels" class="container chanels">
        <div class="listChanels">
            <!--<span>Canal1</span>-->
        </div>
        <div class="newChanel">
            <a href="#" onclick="showFloat('createChanel')">Crear Canal</a>
        </div>
    </div>

    <div class="container chat" id="chat">
       <div class="headServer">
           <img src="../assets/server.jpg" alt="picServer">
           <span class="serverName">serverName</span>
        </div>
        <div class="chatSpace" id="chatSpace">
            <!--<span>hola a todos</span>-->
        </div>
        <div class="smsSpace">
           <form action="?sendSMS">
               <input type="text" placeholder="escribe tu mensaje">
               <input type="submit" value="send">
           </form>
        </div>
    </div>
    
    <div class="container search" id="search">
       <button onclick="showContainer('chat')">x</button>
       Busca servidores
       <div>
           <p onclick="showFloat('createServer')">Crear Server</p>
       </div>
       <div>
           Servers disponibles
           <ul>
               <li><p onclick="showFloat('joinServer')">Server1</p></li>
           </ul>
       </div>
       <div>Contactos</div>
    </div>
    
    <div class="container profile" id="profile">
        <button onclick="hideElement('profile')">x</button>
        <div class="data">
            <img src="../assets/user/icon.jpg" alt="picUsuario" width="200" height="auto"><!--Se establece el tamaño aqui para que no traiga cambios de tamaño inesperado-->
            <div>
                <span class="userName">Username</span><a href="#" onclick="showFloat('changeValue')">Editar</a>
                <span class="email">Correo: </span><a href="#" onclick="showFloat('changeValue')">Editar</a>
                <span class="firstname">Nombre: </span><a href="#" onclick="showFloat('changeValue')">Editar</a>
                <span class="lastname">Apellido: </span><a href="#" onclick="showFloat('changeValue')">Editar</a>
                <span class="password">Contraseña: </span><a href="#" onclick="showFloat('changeValue')">Editar</a>
            </div>
        </div>
        <div></div>
    </div>
    <!--fin containers-->

    <!-- ventanas flotantes-->
    <div class="window" id="window">
    
        <div class="float" id="login">
            <form id="loginForm"> <!--agrege id loginForm para llamarlo desde el scrip-->
                <p>Iniciar sesion</p>
                <input type="text" placeholder="Username">
                <input type="password" placeholder="******">
                <input type="submit" value="login">
                <label id="label_not_login">No se pudo iniciar la sesion</label>
                <p>?No tienes cuenta?<a href="#" onclick="showFloat('regin')">Registrarse</a></p>
            </form>
        </div>
        
        <div class="float" id="regin">
            <form id="registForm">
                <p>Crear Cuenta</p>
                <input type="text" placeholder="Username">
                <input type="email" placeholder="example@mail.com">
                <input type="password" placeholder="******">
                <input type="text" placeholder="Nombre">
                <input type="text" placeholder="Apellido">
                <input type="submit" value="Crear Cuenta">
            </form>
        </div>
        
        <div class="float" id="joinServer">
            <p>Quieres unirte al servidor ${server}?</p>
            <button onclick="alert('OK'); location.href=''">yes</button>
            <button onclick="location.href=''">no</button>
        </div>
        
        <div class="float" id="createServer">
            <form action="?">
                <span>Crear Servidor</span>
                <span>Nombre:</span><input type="text" placeholder="Server">
                <input type="submit" value="Cancelar">
                <input type="submit" value="Crear">
            </form>
        </div>
        
        <div class="float" id="createChanel">
            <form action="?">
                <span>Crear Canal</span>
                <span>Nombre:</span><input type="text" placeholder="Canal">
                <input type="submit" value="Cancelar">
                <input type="submit" value="Crear">
            </form>
        </div>
        
        <div class="float" id="changeValue">
            <button onclick="hideElement('window')">x</button>
            <form action="?">
                <span>Cambiar ${value}</span>
                <input type="text" placeholder="Nuevo ${value}">
                <input type="submit" value="Cambiar">
            </form>
        </div>

   </div>
   <script src="../scripts/script.js"></script>
</body>
</html>
